body{
  background-color: #8F9193;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  background-color: #ffffff;
  width: 1365px;
  height: 90px;
  border: 0px solid;
}
h1{
  font-family: bebas;
  font-weight: bold;
  color: white;
}
table{
  float: center;
}
.FN{
  width: 197px;
}
.LN{
  width: 197px;
}
.NIM{
  width: 400px;
}
.Prodi{
  width: 400px;
}
.email{
  width: 400px;
}
.Th{
  width: 50px;
}
.pria{
  color: white;
}
.wanita{
  font-family:inherit;
  color: white;
}
