body{
  background-color: #565454;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  background-color: #ffffff;
  width: 1365px;
  height: 90px;
  border: 0px solid;
}
h1{
  font-family: bebas;
  font-weight: bold;
  color: white;
}
table{
  float: center;
}
.FN{
  width: 197px;
  height: 20px;
}
.LN{
  width: 197px;
  height: 20px;
}
.NIM{
  width: 400px;
  height: 20px;
}
.Prodi{
  width: 400px;
  height: 20px;
}
.email{
  width: 400px;
  height: 20px;
}
.pass{
  width: 400px;
  height: 20px;
}
.NT{
  width: 400px;
  height: 20px;
}
a.a.tombol{
    font-size: 14px;
    padding: 10 7px;
    color: #ffffff;
    display: inline-block;
    line-height: 30px;
    width: 100%;
}
a.a.facebook{
    background: #405598;
}

a.a.facebook:hover{
    background: #35467e;
}

a.a.twitter{
    background: #01afee;
}
a.a.twitter:hover{
    background: #0195cb ;
}
.tombol4{
  background:#888a8c;
  color:white;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:3px solid #7c7e7f;
  padding:10px 40px;
  text-decoration:none;
  font-family:sans-serif;
  font-size:11pt
}
